*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    padding: 45px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.sidebar button{
    background-image: linear-gradient(to right, #e4001e, #ff7700);
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    transition: background-image 0.8s ease-in-out ,color 0.5s ease-in-out;
}
.sidebar button:active {
    color: #000;
    font-weight:bolder;
} 

.sidebar button:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}

.sidebar button:hover{
    background-image: linear-gradient(to right, #ff7700, #D60220);
    color: #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000;

}
li{
    
    font-weight: bold;
    list-style-type: none;
    font-style: none;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 12px;
    
} 

a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;

}


li:hover{
    padding-right: 15vw;
    background : rgb(231, 231, 231);
    color: #fff;
    border-radius: 12px;
    /* padding: 10px ;
    padding-right: 14.5vw; */
}

li:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nominations{
    padding: 10px;
    /* background-color: #f7f7f7; */
    border-radius: 12px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 200px;

}
.title{
    font-size: 35px;
    font-weight: bolder;
    color: #000;
    text-align: left;
    padding: 20px;
    

}
.nominations p{
    font-size: 18px;
    font-weight: normal;
    color: #636363;
    text-align: left;
    /* padding: 10px; */
    margin-left: 20px;

}
.nominee {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.nominee img{
    border-radius: 70%;
}

.nominate-button{
    margin: 30px 0px 30px 20px;
    background-color: #EBEBEB;
    color: #fff;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
i{
    font-size: 18px;
    color: #000;
    
}
.nominationEmployees{
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */

}

.nominationEmployeestext{
    display: flex;
    flex-direction:column;
    align-items: start;
}

span{
    margin-left: 20px;
}
